 

<h1>Peso inserido do último ingrediente não respeita os valores de limite inferior e superior.</h1>
<h2>Favor verificar o peso inserido.</h2>

<%= link_to "Voltar", :back, class: 'btn btn-primary' %>
