<h1>Novo Centro</h1>

<div class="row">
  <div class="col-md-9">
    <%= render 'form', centro: @centro %>
  </div>
  <div class="col-md-3">
    <h3>Já cadastrados</h3>
    <% Centro.reorder("descricao ASC").each do |m| %>
      <li><%= m.descricao %></li>
    <% end %>
  </div>
</div>
